<!DOCTYPE html>
<html lang="en">
<head>
  {% import 'templates/macros.html' as macros %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="/public/pygments.css">
  <link rel="stylesheet" type="text/css" href="/public/style.css">
  {% if DEBUG %}
    <script type="text/javascript" src="http://livejs.com/live.js"></script>
  {% endif %}
  {% block header %}
  {% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>
<body>

  {% block nav %}
    {% include 'templates/nav.html' %}
  {% endblock %}


  <div class="content">
    <div class="content-page">
  {% block content %}
  {% endblock %}
    </div>
  </div>
  
  {% block footer %}
    {% include 'templates/footer.html' %}
  {% endblock %}

</body>
</html>
