[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
click = "*"
pathlib = "*"
dataclasses-json = "*"
jinja2 = "*"
pygments = "*"

[dev-packages]
mypy-mypyc = "*"
black = "==18.9b0"
neovim = "*"

[scripts]
format = "black ."
typecheck = "mypy --strict ."
blog = "python main.py"

[requires]
python_version = "3.9"
